# General Mac things
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Raw Data from OSM
routeInfo/whitneyRaw.js

# Where I'm storing backups of Spot XML feeds while testing
testdata
testdata/*