html, body{
    padding:0;
    margin:0;
    height:100%;
  
    overflow:hidden;
    background:#fff;
    background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%);
    font-size:16px;
}

.ui {
    position: absolute;
}

#legend {
    right: 0;
    top: 0;
    border: 3px solid white;
    border-radius: 1em;
    margin: 1em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #00000000;
    transition: background-color 0.5s linear;
}

#legend.open {
    background-color: #00000044;
}

#layers-toggle {
    text-align: left;
    color: white;
    font-size: 2em;
    padding: 10px 30px 10px 0;
    
}

#layers-toggle:hover {
    background-color: #ffffff44;
}

#layers-toggle span {
    margin: 0 1em 0 1em;
}

#layers-toggle i {
    float: right;
    transition: transform 0.2s linear;
}

i.rotated{
    transform: rotate(90deg);
}

  /* Style the collapsible content. Note: hidden by default */
#toggles {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

#toggles hr{
    background-color: #ffffff44;
    height: 1px;
    border: none;
    margin: 0 1em 0 1em;
}

.toggle{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.4em 1em 0.4em 1em;
}

.toggle-label{
    text-align: left;
    margin-right: 0.5em;
    font-size: 1.3em;
}

.toggle .switch{
    float: right;
}

.panel{
    bottom: 0;
    right: 0;
    min-width: 40%;
    max-width: 40%;
    margin: 2em;
    background-color: white;
    padding: 0;
    border-radius: 0.4em;
    outline: #ffffff 5px solid;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

.panel-header{
    margin: 0;
    background-color: #4380c1;
    color: #ffffff;
    text-shadow: 2px 2px 2px #00000099;
    display: flex;
    justify-content: space-between;
}

.panel-header.TRACK{
    background-color: #688630;
}

.panel-header.CHECK-IN{
    background-color: #c37b10;
}

.panel-header.MESSAGE{
    background-color: #6e3086;
}

.panel-header i {
    font-size: 3em;
    float: right;
    margin: 0.5em;
    text-shadow: none;
}

.panel-header  h2{
    margin: 0;
    padding: 20px 20px 0 20px;
    font-family: 'Montserrat', sans-serif;
}

.panel-header  h3{
    margin: 0;
    padding: 0.5em 1em 0.5em 20px;
}

.panel-header  p{
    padding: 1em;
    margin: 0;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.1em;
}

.panel-body {
    margin: 1em;
}

.disclaimer{
    font-size: 0.8em;
    font-style: italic;
}

.hidden{
    display: none;
}

.map-title {
    color: #ffffff;
    margin: 2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    text-shadow: 2px 2px 4px #00000099;
}

.map-title h2 {
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 0.1em;
    margin-top: 0;
}

.map-title h3 {
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
}

.map-title hr {
    border: none;
    height: 1px;
    background-color: #ffffffaa;
}

#zone-name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

#zone-elevation {
    font-size: 1em;
}

#zone-info {
    font-size: 1em;
}


/* --- Toggles (Straight from W3 Schools) --- */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}